<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=name%></title>
<link href="static/css.css" rel="stylesheet" />
</head>
<body background="static/background.jpg">
<div class="#">
<div class="wraper">
<div class="#" align="center"><img src="static/dima.png" /></div>
<br />
<div class="#" align="center" >

<% if(hasOwnProperty('profiles') && profiles.length) { %>
<ul>
<% profiles.forEach(function(e) { %>
  <% if (e.hasOwnProperty('name') && e.hasOwnProperty('comment') && e.hasOwnProperty('url')) { %>
    <li><span class="headerLine"><a href="<%=((e.url.substr(0, 7) === 'mailto:') ? '' : '/r?url=') + e.url%>"><%=e.name%></a>:</span> <%=e.comment%></li>
  <% } %>
<% }); %>
</ul>
<% } %>

</div>
<br />
</div>
</div>
</body>
</html>
